.resume{
    border: 1px solid black;
    width:210mm;
    margin: auto;
}

.generalInfo > h2{
    margin: 10px;
    text-align: center;
    display: block;
    font-size: 20px;
}

.generalInfo div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.generalInfo div h3{
    margin: 20px;
    font-size: 16px;
}

.section{
    border-top: 2px black solid;
    
}

.dates{
    text-align: end;
    width: 90mm;
}

h4{
    margin: 0;
    display: inline-block;
}
.schoolName{
    width: 100mm;
}
.componentHeader{
    margin: 10px 20px;
}

.info{
    margin: 0 20px;
}

.degree{
    width: 100mm;
    font-style: italic;
}
.gpa{
    width: 90mm;
    text-align: end;
}
text{
    display: inline-block;
}